* {
    background-color: #295648;
    font-variant: small-caps;
    font-family: monospace;
}

/*This sets div that holds the image I want to occupy my background to take up the whole screen*/
.bg {
    position: fixed;
    top: -50%;
    left: -10%;
    width: 200%;
    height: 200%;
    z-index: -1;
}

/*This sets the image properties to keep it in place and what size I want it to appear*/
.bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 50%;
    min-height: 50%;
    z-index: 999;
}

body {
    margin-top: 125px;
    margin-left: 220px;
    position: fixed;
    z-index: 500;
    background-color: #4b9d83;
}

header {
    position: fixed;
    width: 535px;
}

/*Style settings for the 'Ashley Trollinger...'*/
h1 {
    font-family: monospace;
    font-variant: small-caps;
    font-size: 80px;
    color: white;
    background-color: black;
    margin: 0;
}

nav {
    background: transparent;
    padding-left: 35px;
}

nav ul {
    padding: 0;
}

/*This is setting what the buttons in the nav bar will look like*/
nav button {
    background-color: #4b9d83;
    border-width: 3px;
    border-radius: 25%;
    border-color: #46937b;
    font-size: 30px;


}

/*Sets the style for when the cursor is hovering the tab*/
nav button:hover {
    background-color: #46937b;
    border-color: #3f836d;
    color: white;
}

nav button:focus {
    background-color: #295648;
    border-color: #295648;
    color: white;
}


/*Makes the navigation bar choices appear inline instead of stacked*/
nav li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 25px;
    list-style-type: georgian;
}

/*Makes the list in the contact section so it is not bullet pointed*/
#contact li {
    list-style-type: none;
}


aside {
    margin-left: 545px;
    font-size: 28px;
}

.content {
    display: none;
}

#work {
    background-image: url(./Refactoring.png);
    background-size: cover;
    width: 32vw;
    height: 40vh;
}

#work a {
    background-color: rgba(255, 0, 0, 0);
    text-decoration: none;
}

#work h2 {
    background-color: rgba(255, 0, 0, 0);
    color: rgba(255, 255, 255, 0);
}

#work h2:hover {
    color: white;
    background-color: #295648b0;
}

/* .clownSchool {
    position: absolute;
    top: 400px;
    width: 50vw;
    height: 50vh;
    background-image: url(./Refactoring.png);

}

.batman {
    width: 50vw;
    height: 50vh;
    background-color: #46937b00;
    color: rgba(255, 0, 0, 0.103);
    filter: blur(25px);
}


.batman:hover {
    width: 50vw;
    height: 50vh;
    background-color: #46937b38;
    color: rgb(255, 0, 0);

} */

/* .clownSchool h1 {
    background-color: #4b9d8300;
    color: #3f836e00;
}

.clownSchool h1:hover {
    background-color: #4b9d83;
    color: #3f836e;
} */